@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* font-family: 'Adamina', serif; */

ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: auto;
}
.container-main {
	width: 93%;
	margin: auto;
}
.primary-color{
	color: #5D533D;
}
.primary-bg{
	background: #5D533D;
}
/* =============== */
.main{
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	width: 100% !important;
	background-size: cover;
	min-height: 100vh !important;
	position: relative;
}
.name-section{
	padding-top: 50px;
}
.name-txt{
	font-family: 'Redressed', 'sedan';
	font-size: 50px !important;
	font-weight: 600;
}
.name-txt span{
	font-size: 22px !important;
	font-weight: 300;
}
.date-time-box{
	display: flex;
	width: 70%;
	margin: auto;
}
.small-txt-date{
	font-size: 14px;
	font-family: 'Adamina', serif;
}
.clock{
	width: 40px;
	margin: auto;
	display: table;
}
.date-time-box{
	padding-top: 30px;
}
.date{
	border-right: 1px solid #5D533D;
	padding-right: 20px;
}
.time{
	padding-left: 20px;
}
.date .sun{
	padding-bottom: 10px;
}
.date .feb{
	padding-top: 10px;
}
.time-txt{
	padding-top: 15px;
}
.time-c{
	padding-bottom: 15px;
}
.boxes{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	padding-top: 50px;
}
.small-txtt{
	font-size: 5px;
	margin-top: -6px;
}
.box{
	border: 1px solid #5D533D;
	padding: 10px;
	border-radius: 10px;
	min-width: 30%;
	background: #FDF9EE;
}
.gallery-txt{
	font-family: 'Adamina', serif;
	font-size: 13px;
}
.box i{
	font-size: 30px;
	text-align: center;
	margin: auto;
	width: max-content;
	display: table;
	padding-bottom: 3px;
}
.txt-main{
	font-size: 13px;
	font-family: 'Adamina', serif;
}
.text-box{
	padding: 23px 0px;
}
/* location page  */
.location-txt{

}
.top-nav{
	display: flex;
	align-items: center;
	padding-top: 20px;
	font-family: 'Adamina', serif;
}
.top-nav i{
	background: #fff;
	padding: 2px 8px;
	margin-right: 20px;
	font-size: 20px;
	border-radius: 50%;
}
.location-box{
	background: #fff;
	filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.25));
	padding: 12px;
	border-radius: 10px;
	width: 48%;
	font-family: 'Adamina', serif;
}
.place-txt{
	font-size: 13px;
	padding-bottom: 10px;
}
.journey-txt{
	font-size: 12px !important;
	background: #929A77;
	color: #fff;
	width: 100% !important;
	outline: none !important;
	border: none !important;
}
.journey-txt:hover{

}
.location-main{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.back{
	display: contents;
}
.back i{
	color: #000 !important;
}
.routes{
	width: 100%;
}
.vehicle-img{
	width: 13px;
}
.route-box {
	/* width: 24%; */
	display: flex;
	align-items: center;
	background-color: #FCF5E4;
	padding: 7px 6px;
	border-radius: 5px;
	margin: auto;
	
}
.routes{
	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(auto-fit,minmax(24%,1fr)); */
	/* justify-content: space-between; */
	/* align-items: center; */
	/* overflow-x: scroll; */
	grid-auto-flow: column;
	grid-column-gap: 5px;
}
.txt-route{
	font-size: 10px;
	text-align: center;
	padding-left: 2px;
	font-family: 'Adamina', serif;
}
.train-route-dv{
	font-family: 'Adamina', serif;
	padding-top: 20px;
}
.heading-route{
	font-size: 15px;
}
.timeline-route-head{
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 5px;
}
.timeline-route-sub{
	font-size: 11px;
	font-family: 'Adamina', serif;
}
.row-route{
	/* padding-bottom: 25px;
	margin-top: -20px; */
	margin-bottom: 38px;
}
.route-map{
	margin-top: 25px;
}
.location-box a:hover{
	text-decoration: none;
	color: #fff !important;
}
.box a:hover{
	text-decoration: none !important;
	color: #fff !important;
}
.route-box a:hover{
	text-decoration: none !important;
	color: #fff !important;
}
.txt-route:hover{
	color: #000 !important;
}
a{
	color: #000 !important;
}

.mapp:hover{
	text-decoration: none 	;
}



/* Create an active/current tablink class */
.routes .route-box.active {
  border: 3px solid #5D533D;
}
.routes .route-box {
  border: none;
  outline: none;
  cursor: pointer;
	border: 1px solid #fff;
	text-wrap: nowrap;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#London{
	display: block;
}
.route-map{
	border-left: 3px solid #D9D9D9;
	width: 100%;
	position: relative;
	padding-left: 24px;
	margin-left: 10px;
}
.row-route .circle{
	left: -14px;
	padding: 7px 7px;
	position: absolute;
	border-radius: 50%;
	background-color: #ffffff;
}
.active-circle{
	border: 1px solid #5D533D;
}
.left-space{
	padding-left: 36px;
}
.b{
	background: #5D533D;
	padding: 5px;
	border-radius: 50%;
}
.w{
	background: #ffffff;
	padding: 5px;
	border-radius: 50%;
}
.txt-littile-biger{
	font-size: 15px;
	text-align: center;
	font-family: 'Adamina', serif;
}
.footer p, .footer a{
	font-size: 13px;
	color: #5D533D !important;
	padding: 5px 0px 5px 0px;
	text-decoration: none !important;
}
.footer{
	position: absolute;
	bottom: 0px;
	background: #F8EBC9;
	left: 20px;
}
.select-ride{
	font-size: 13px;
	font-family: 'Adamina', serif;
	padding-top: 20px;
}
.button-place{
	width: 100% !important;
}
.place-txtt{
	font-size: 12px !important;
	font-family: 'Adamina', serif;
	font-weight: 500;
}
.button-place-main{
	display: grid;
	margin-top: 15px;
	grid-template-columns: repeat(3,32%);
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}






